/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.codex
/.config
/.cursor
/.cursor-server
/.keras
/.local
/.pki
/.profile
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.wget-hsts
/.xsession-errors
/.xsession-errors.old
/Bookshelf
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/collected_data
/logs
/squat_ai_env
/squat_camera
/squat_inf
/squat_project